html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #000;
    color: #fff;
}

container {
    position: relative;
    display: flex;
    place-items: center;
    place-content: center;
}